Problem cloning the repository 

Hi,

After I managed to fix the previous problem (no cloning), I cleand the repository and now I am able to clone only inside my network. 

We tried to clone and got the following error:

POST git-upload-pack (650 bytes)
remote: Counting objects: 46493, done.
remote: Compressing objects: 100% (26201/26201), done.
fatal: early EOF
fatal: The remote end hung up unexpectedly
fatal: recursion detected in die handler
error: RPC failed; result=56, HTTP code = 200

How do we set up a ssh based cloning with your software?

Thanks,

Ruthy


SSh based cloning is not supported. Http cloning only is supported.


Do you have any suggestions how to solve the above error?


Could you paste here the content of your C:/GitStack/apache/logs/error.log? 


[Mon Jun 24 01:46:53 2013] [error] [client 202.159.47.194] client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): /w00tw00t.at.ISC.SANS.DFind:)
[Mon Jun 24 12:27:26 2013] [error] 6
[Mon Jun 24 12:27:29 2013] [error] 6
[Mon Jun 24 12:29:32 2013] [error] 6
[Mon Jun 24 12:31:47 2013] [error] 6
[Mon Jun 24 12:31:50 2013] [error] 6
[Mon Jun 24 12:31:51 2013] [error] 6
[Mon Jun 24 12:31:52 2013] [error] 6
[Mon Jun 24 12:31:52 2013] [error] 6
[Mon Jun 24 14:10:53 2013] [warn] RSA server certificate is a CA certificate (BasicConstraints: CA == TRUE !?)
[Mon Jun 24 14:10:53 2013] [warn] RSA server certificate CommonName (CN) `gitstack.com' does NOT match server name!?
[Mon Jun 24 14:10:53 2013] [warn] module rewrite_module is already loaded, skipping
[Mon Jun 24 14:10:53 2013] [warn] pid file C:/GitStack/apache/logs/httpd.pid overwritten -- Unclean shutdown of previous Apache run?
[Mon Jun 24 14:10:54 2013] [warn] RSA server certificate is a CA certificate (BasicConstraints: CA == TRUE !?)
[Mon Jun 24 14:10:54 2013] [warn] RSA server certificate CommonName (CN)`gitstack.com' does NOT match server name!?
[Mon Jun 24 14:10:54 2013] [warn] mod_wsgi: Compiled for Python/2.7.
[Mon Jun 24 14:10:54 2013] [warn] mod_wsgi: Runtime using Python/2.7.2.
[Mon Jun 24 14:10:54 2013] [notice] Apache/2.2.22 (Win32) mod_ssl/2.2.22 OpenSSL/0.9.8u mod_wsgi/3.3 Python/2.7.2 PHP/5.4.3 configured -- resuming normal operations
[Mon Jun 24 14:10:54 2013] [notice] Server built: Mar 19 2012 19:56:33
[Mon Jun 24 14:10:54 2013] [notice] Parent: Created child process 1892
[Mon Jun 24 14:10:54 2013] [warn] module rewrite_module is already loaded, skipping
[Mon Jun 24 14:10:55 2013] [warn] RSA server certificate is a CA certificate (BasicConstraints: CA == TRUE !?)
[Mon Jun 24 14:10:55 2013] [warn] RSA server certificate CommonName (CN) `gitstack.com' does NOT match server name!?
[Mon Jun 24 14:10:55 2013] [warn] module rewrite_module is already loaded, skipping
[Mon Jun 24 14:10:56 2013] [warn] RSA server certificate is a CA certificate (BasicConstraints: CA == TRUE !?)
[Mon Jun 24 14:10:56 2013] [warn] RSA server certificate CommonName (CN)`gitstack.com' does NOT match server name!?
[Mon Jun 24 14:10:56 2013] [warn] mod_wsgi: Compiled for Python/2.7.
[Mon Jun 24 14:10:56 2013] [warn] mod_wsgi: Runtime using Python/2.7.2.
[Mon Jun 24 14:10:56 2013] [notice] Child 1892: Child process is running
[Mon Jun 24 14:10:56 2013] [notice] Child 1892: Acquired the start mutex.
[Mon Jun 24 14:10:56 2013] [notice] Child 1892: Starting 64 worker threads.
[Mon Jun 24 14:10:56 2013] [notice] Child 1892: Starting thread to listen on port 80.
[Mon Jun 24 14:10:56 2013] [notice] Child 1892: Starting thread to listen on port 80.
[Mon Jun 24 15:30:30 2013] [error] 6
[Mon Jun 24 15:30:32 2013] [error] 6
[Mon Jun 24 15:32:14 2013] [error] 6
[Mon Jun 24 15:32:18 2013] [error] 6
[Mon Jun 24 15:32:23 2013] [error] 6
[Mon Jun 24 15:32:23 2013] [error] 6
[Mon Jun 24 15:32:36 2013] [error] 6
[Mon Jun 24 15:32:36 2013] [error] 6
[Mon Jun 24 15:32:51 2013] [error] 6
[Mon Jun 24 15:32:55 2013] [error] 6
[Mon Jun 24 15:33:13 2013] [error] 6
[Mon Jun 24 15:33:22 2013] [error] 6
[Mon Jun 24 15:33:22 2013] [error] 6
[Mon Jun 24 15:33:26 2013] [error] 6
[Mon Jun 24 15:33:30 2013] [error] 6
[Mon Jun 24 15:33:32 2013] [error] 6
[Mon Jun 24 15:33:32 2013] [error] 6
[Mon Jun 24 15:33:33 2013] [error] 6
[Mon Jun 24 15:33:33 2013] [error] 6
[Mon Jun 24 15:33:36 2013] [error] 6
[Mon Jun 24 15:33:37 2013] [error] 6
